body {
    background-color: #F6E8EA;
}
.black-text {
    color: #22181C;
}
header {
    text-align: center;
    background-color: #312F2F;
    color: #84DCCF;
    border-radius: 60%;
}
form .collection{
    width: 90px;
}
td , table{
    border: 3px solid #312F2F;
    border-collapse: collapse;
}
td {
    width: 140px;
    text-align: center;
}
#table-header {
    background-color: #84DCCF;
}
footer {
    margin-right: 10px;
    width: 260px;
}

/*
Pallette 
teal- 84DCCF
gray- 312F2F
black- 22181C
red- EF626C
white- F6E8EA
*/
